.ant-layout {
  .menu-logo.closed.hiddenLogo {
    width: 48px;
    background-color: none;
    margin-left: -15px;
    img {
      width: 47px;
      height: 47px;
      margin: 0 auto;
    }
  }
  &.ant-layout-has-sider {
    .menu-logo {
      display: flex;
      cursor: pointer;

      &.open {
        align-items: center;
        height: 56px;
        background: #162841;
        width: 228px;
        img:first-child {
          width: 48px;
          height: 48px;
          margin-top: 4px;
        }
      }

      &.open.hiddenLogo {
        display: none;
      }

      &.closed {
        width: 48px;
        height: 56px;
        align-items: center;
        background: #162841;
        img {
          width: 48px;
          height: 48px;
          margin-top: 4px;
        }
      }
      &.closed.hiddenLogo {
        background: none;
        width: 48px;
        margin-left: -15px;
        img {
          width: 47px;
          height: 47px;
          margin: 0 auto;
        }
      }
    }
  }
}

.ant-pro-sider-extra {
  margin: 0 !important;
  margin-top: -20px !important;
  padding: 0 !important;
}

.custom {
  height: 114px;
  margin-top: 18px;

  .zhidan {
    width: 100%;
    height: 57px;
    margin: 0;
    padding: 0;
    line-height: 57px;
    cursor: pointer;

    .position.open {
      display: flex;
      height: 57px;
      padding: 22px 0 0 14px;
      img {
        width: 16px;
        height: 16px;
      }

      p {
        margin-left: 9px;
        color: gray;
        font-size: 14px;
        height: 16px;
        line-height: 16px;
      }

      &:hover {
        background: #162841;

        p {
          color: white;
        }
      }
    }

    .position.closed {
      display: flex;
      height: 57px;
      padding: 22px 0 0 14px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .makelist-nav {
      position: fixed;
      top: 46px;
      display: none;
      width: 427px;
      height: calc(100% - 46px);
      border-top: 50px solid transparent;
      &.open {
        left: 228px;
      }

      &.closed {
        left: 48px;
      }
    }
    &:hover {
      .makelist-nav {
        display: block;
      }
    }
  }

  .divider {
    width: 200px;
    height: 1px;
    margin: 0 auto;
    background: #1a2f4e;

    &.closed {
      width: 45px;
    }
  }

  .all-function {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    margin-bottom: 13px;
    line-height: 40px;
    cursor: pointer;

    &.open {
      height: 40px;

      .position {
        height: 40px;
        display: flex;
        font-weight: 500;
        font-family: 'PingFang SC';
        padding: 13px 0 0 10px;

        img {
          width: 14px;
          height: 14px;
          margin-top: -1px;
          margin-right: 9px;
          margin-left: 5px;
        }

        p {
          color: gray;
          font-size: 14px;
          height: 16px;
          line-height: 14px;
        }
      }
    }

    &:hover {
      background: #162841;
      .position {
        p {
          color: white;
        }
      }
    }

    &.closed {
      width: 100%;
      height: 40px;
      cursor: pointer;

      .position {
        height: 40px;
        display: flex;
        font-weight: 500;
        font-family: 'PingFang SC';
        padding: 13px 0 0 10px;

        img {
          width: 14px;
          height: 14px;
          margin-top: -1px;
          margin-right: 9px;
          margin-left: 5px;
        }
      }
    }

    .allfunction-nav {
      position: fixed;
      top: 96px;
      display: none;
      width: 60%;
      height: calc(100% - 96px);
      background: #27384e;

      &.open {
        left: 228px;
      }

      &.closed {
        left: 48px;
      }
    }
    &:hover {
      .allfunction-nav {
        display: block;
      }
    }
  }
}

.ant-pro-sider-footer {
  margin: 0 !important;
  padding: 0 !important;
}

.bottom-nav {
  height: 45px;
  margin: 0 auto;
  color: 'white';
  background: #162841;
  cursor: pointer;

  &.open {
    width: 100%;
    color: gray;
    font-weight: regular;
    font-size: 14px;
    font-family: 'PingFang SC';
    line-height: 45px;

    .position {
      width: 120px;
      margin: 0 auto;
      text-align: center;

      img {
        margin-right: 6px;
      }
    }
  }

  &.closed {
    width: 100%;
    margin: 0 auto;
    color: gray;
    line-height: 45px;
    text-align: center;

    img {
      width: 14px;
    }
  }

  .custom-nav-wrap {
    position: fixed;
    top: 139px;
    bottom: 55px;
    left: 304px;
    right: 79px;
    overflow: hidden;
    border-radius: 4px;
  }
  .custom-nav-wrap.closed {
    position: fixed;
    top: 139px;
    bottom: 55px;
    left: 124px;
    right: 259px;
    overflow: hidden;
    border-radius: 4px;
  }
}

.ant-pro-sider-logo {
  padding: 0 !important;
}

.ant-layout-header {
  height: 56px !important;
  line-height: 56px !important;
}
.ant-pro-basicLayout-content {
  margin: 0;
}

.ant-drawer-mask {
  display: none;
}

.mask {
  position: fixed;
  top: 0;
  left: 228px;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1001;
}

// 窗口抖动处理
body::-webkit-scrollbar {
  display: none;
}

// #myWrapperLoading{
//   box-sizing: border-box;
//   margin-bottom: 80px;
//   background: #000;
//   height: 80%;
// }
